
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <!-- CSS Files -->
    <link rel="stylesheet" href="../../Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Content/assets/css/atlantis.min.css">

    <link href="../../Content/Custom_css/custom_css.css" rel="stylesheet" />
    <script src="~/Content/assets/js/plugin/webfont/webfont.min.js"></script>

</head>
<body>
    
    <div class="container" style="padding-top:8%;">
        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <h1 style="font-size:40px;">ERROR <span style="color:red;">404</span></h1>
            </div>
        </div>
        <br />
        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <p>Sorry, but the page you are looking for has not been found.<br /> Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.</p>
            </div>
        </div>
        <br />
        <br />
        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <button type="button" class="btn btn-danger" onclick="window.location = '/Home/Dashboard'"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Back to Dashboard</button>
            </div>
        </div>
    </div>
   
   
</body>
</html>
